.metadata/
RemoteSystemsTempFiles/
Servers/
.recommenders/
External Files/
web04/src/main/webapp/WEB-INF/spring/appServlet/datasource-context.xml
web04/.classpath
External Files/.project
web04/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
web04/target/m2e-wtp/web-resources/META-INF/maven/com.example/web04/pom.properties

web04/target/m2e-wtp/web-resources/.gitignore
