
# Created by https://www.gitignore.io/api/eclipse

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

.metadata/.lock
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/623127801.xml
.metadata/.plugins/tern.eclipse.ide.core/web01.tern-project
.metadata/.plugins/tern.eclipse.ide.core/web02.tern-project
.metadata/com.genuitec.eclipse.webclipse.livepreview/version.txt
.metadata/version.ini
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.cjh-pc_3/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.cjh-pc_3/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.cjh-pc_3/node.properties
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1213168454.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2789284458.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3511036668.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
RemoteSystemsTempFiles/.project
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat v8.0 Server at localhost-config/catalina.policy
Servers/Tomcat v8.0 Server at localhost-config/catalina.properties
Servers/Tomcat v8.0 Server at localhost-config/context.xml
Servers/Tomcat v8.0 Server at localhost-config/server.xml
.metadata/.mylyn/.repositories.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.dell.toadext.mongodb.core/connections.xml
.metadata/.plugins/com.dell.toadext.mongodb.core/drivers.dat
.metadata/.plugins/com.dell.toadext.mysql.core/connections.xml
.metadata/.plugins/com.dell.toadext.mysql.core/defaultDriver.properties
.metadata/.plugins/com.dell.toadext.mysql.core/drivers.dat
.metadata/.plugins/com.dell.toadext.oracle.core/connections.xml
.metadata/.plugins/com.dell.toadext.oracle.core/defaultDriver.properties
.metadata/.plugins/com.dell.toadext.oracle.core/drivers.dat
.metadata/.plugins/com.dell.toadext.postgre.core/connections.xml
.metadata/.plugins/com.dell.toadext.postgre.core/defaultDriver.properties
.metadata/.plugins/com.dell.toadext.postgre.core/drivers.dat
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/news.rss
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/templates/templates.json
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/agency.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/bare.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/business-casual.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/clean-blog.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/creative.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/freelancer.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/grayscale.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/landing-page.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/modern-business.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/one-page-wonder.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/sb-admin-2.jpg
.metadata/.plugins/com.genuitec.eclipse.dashboard.common/theme_images/simple-sidebar.jpg
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
.metadata/.plugins/org.eclipse.core.resources/.history/76/60a82d8711c100161f0bc8e430c05b6b
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/Cloud Foundry.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dell.toadext.mongodb.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dell.toadext.mysql.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dell.toadext.oracle.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dell.toadext.postgre.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dell.toadext.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.featureintro.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.javascript.debug.wip.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.modernweb.angular2.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.monitor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.server.hotreload.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.webclipse.localserver.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ajdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.runtime.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.monitoring.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.configurator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1031062034.index
.metadata/.plugins/org.eclipse.jdt.core/1048746010.index
.metadata/.plugins/org.eclipse.jdt.core/1110534863.index
.metadata/.plugins/org.eclipse.jdt.core/1162231921.index
.metadata/.plugins/org.eclipse.jdt.core/1260374096.index
.metadata/.plugins/org.eclipse.jdt.core/1294338635.index
.metadata/.plugins/org.eclipse.jdt.core/1297580988.index
.metadata/.plugins/org.eclipse.jdt.core/1671362638.index
.metadata/.plugins/org.eclipse.jdt.core/1901452023.index
.metadata/.plugins/org.eclipse.jdt.core/1927192158.index
.metadata/.plugins/org.eclipse.jdt.core/1973346037.index
.metadata/.plugins/org.eclipse.jdt.core/1986546318.index
.metadata/.plugins/org.eclipse.jdt.core/2311814235.index
.metadata/.plugins/org.eclipse.jdt.core/2483765885.index
.metadata/.plugins/org.eclipse.jdt.core/2571096128.index
.metadata/.plugins/org.eclipse.jdt.core/2686607017.index
.metadata/.plugins/org.eclipse.jdt.core/2806742727.index
.metadata/.plugins/org.eclipse.jdt.core/2848346204.index
.metadata/.plugins/org.eclipse.jdt.core/2854714345.index
.metadata/.plugins/org.eclipse.jdt.core/2866154576.index
.metadata/.plugins/org.eclipse.jdt.core/2873934814.index
.metadata/.plugins/org.eclipse.jdt.core/2920302435.index
.metadata/.plugins/org.eclipse.jdt.core/2929047287.index
.metadata/.plugins/org.eclipse.jdt.core/2979426892.index
.metadata/.plugins/org.eclipse.jdt.core/2997081707.index
.metadata/.plugins/org.eclipse.jdt.core/3023681961.index
.metadata/.plugins/org.eclipse.jdt.core/3028879811.index
.metadata/.plugins/org.eclipse.jdt.core/3305734410.index
.metadata/.plugins/org.eclipse.jdt.core/3364431418.index
.metadata/.plugins/org.eclipse.jdt.core/3765655031.index
.metadata/.plugins/org.eclipse.jdt.core/3772114099.index
.metadata/.plugins/org.eclipse.jdt.core/3782460461.index
.metadata/.plugins/org.eclipse.jdt.core/3784876564.index
.metadata/.plugins/org.eclipse.jdt.core/3801796460.index
.metadata/.plugins/org.eclipse.jdt.core/3816164716.index
.metadata/.plugins/org.eclipse.jdt.core/3826364565.index
.metadata/.plugins/org.eclipse.jdt.core/3992894079.index
.metadata/.plugins/org.eclipse.jdt.core/4016091721.index
.metadata/.plugins/org.eclipse.jdt.core/4129068644.index
.metadata/.plugins/org.eclipse.jdt.core/4133216498.index
.metadata/.plugins/org.eclipse.jdt.core/4169219086.index
.metadata/.plugins/org.eclipse.jdt.core/4278663868.index
.metadata/.plugins/org.eclipse.jdt.core/452731778.index
.metadata/.plugins/org.eclipse.jdt.core/493040035.index
.metadata/.plugins/org.eclipse.jdt.core/504907735.index
.metadata/.plugins/org.eclipse.jdt.core/520559770.index
.metadata/.plugins/org.eclipse.jdt.core/662129271.index
.metadata/.plugins/org.eclipse.jdt.core/685495921.index
.metadata/.plugins/org.eclipse.jdt.core/796647980.index
.metadata/.plugins/org.eclipse.jdt.core/969639380.index
.metadata/.plugins/org.eclipse.jdt.core/990894268.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/12/51/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/12/51/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_7.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_9
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/f1b107eaafc13774f166f81f470c16ba/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/f1b107eaafc13774f166f81f470c16ba/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/f1b107eaafc13774f166f81f470c16ba/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/f1b107eaafc13774f166f81f470c16ba/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
Servers/Tomcat v8.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v8.0 Server at localhost-config/web.xml
