<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="GuestBook.Mapper">
	
	<select id="gblist" resultType="GuestBookDTO">
	  select * from guestbook order by post_date desc
	</select>
	
	
	
	<insert id="gbInsert">
	
	insert INTO guestbook (idx, name, email, passwd, content, post_date) 

 		VALUES(null, #{name}, #{email}, #{passwd}, #{content}, null);
 
	</insert>
	
	
	<!-- 패스워드 체크 틀리면 0 맞으면 1 -->
	<select id="passwordCheck" resultType="int">
	 select  count(*) from guestbook where idx=#{idx} and passwd =#{passwdCk}	
	</select>
	
	<!-- 내용 수정 -->
	<update id="modifyGuestBook">
		UPDATE  guestbook SET content =#{content}, email=#{email}, name=#{name} WHERE idx=#{idx};
	</update>
	
	
	<select id="passwdCk" resultType="int">
	 select  count(*) from guestbook where idx=#{idx} and passwd =#{passwd}
	</select> 
	
	
	<select id="gbDetail" resultType="GuestBookDTO">
	 select * from guestbook where idx =#{idx}
	</select>
	
	
	<select id="gbDelete" >
		delete from  guestbook where idx =#{idx}
	</select>
	
	
</mapper>














