<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="product.Mapper">
	
	
	<select id="productList" resultType="ProductDTO">
	   select * from product order by regdate desc
	</select>
	
	<select id="productDetail" resultType="ProductDTO">
		select * from product where product_id =#{product_id}
	</select>
	
	
	<insert id="product_write">
		INSERT INTO product(product_id,
                product_name,
                price,
                description,
                picture_url,
                regdate, original_picture_url)
 		VALUES 	 (null, #{product_name},  #{price}, #{description}, #{picture_url}, null, #{original_picture_url})
	</insert>
	
	
	<update id="product_edit">
		update product SET description=#{description}, original_picture_url=#{original_picture_url}, 
 			picture_url=#{picture_url}, price=#{price}, product_name=#{product_name} 
 			, product_name=#{product_name} where product_id=#{product_id} 
	</update>

	
	<delete id="productDelete">
		delete from product where product_id=#{product_id}
	</delete>
	
	
	
	
</mapper>














